<!DOCTYPE HTML>
<html>
    <head>
        <title>Home page</title>
    </head>

    <body>

        <h1 style="text-align : center;">
            Users Database REST API
        </h1>
        <hr>
        <h3>User Fields</h3>
        <ul>
            <li>id</li>
            <li>First Name</li>
            <li>Last Name</li>
            <li>Comapany Name</li>
            <li>Age</li>
            <li>City</li>
            <li>State</li>
            <li>Zip</li>
            <li>Email</li>
            <li>Web</li>

        </ul

        <hr>
        <div>
        <h3>HTTP Methods</h3>
        <ul>
            <li>POST -> Create</li>
            <li>GET -> Read</li>
            <li>PUT -> Update</li>
            <li>DELETE ->Delete</li>

        </ul>
        </div>
        <hr>
        <h3>
            API Documentation
        </h3>
        <a href="https://documenter.getpostman.com/view/22943771/VUxNRTZU" target=_blank>Documentation</a>




    </body>
</html>